.Tasks {
	@include container;
	display: flex;
	background-color: white;
	overflow: hidden;
	flex-direction: column;
}

.Today {
	margin-bottom: 1rem;
	width: 100%;
}

.TaskContent {
	display: grid;
	overflow: scroll;
	flex: 1;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
}

.TaskList > * {
	margin-bottom: 1rem;
	&:hover {
		cursor: pointer;
	}
}

.TaskList {
	overflow: scroll;
	& .Card {
		white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
		&:hover {
			.Options {
				opacity: 1;
			}
		}
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.TaskDetailContainer {
	grid-column: 2 / 4;
	overflow: scroll;
}

.Options {
	height: 2em;
	width: 1em;
	position: absolute;
	right: 1em;
	cursor: pointer;
  opacity: 0;
  outline: none;
	& img {
		height: 100%;
	}
}
