@import './mixins.scss';

@import './add.scss';
@import './app.scss';
@import './calendar.scss';
@import './taskDetail.scss';
@import './menu.scss';
@import './toolbar.scss';
@import './tasks.scss';
@import './today.scss';
@import './todo.scss';
@import './todoList.scss';
@import './progress.scss';
@import './options';
@import './signIn';

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root {
  --main-color: rgb(255, 255, 255);
  --secondary-color: rgb(240, 240, 240);
  --button-group-color: rgb(210, 210, 210);
  --options-background-color: rgba(225, 225, 225);

  --theme-color: rgb(0, 200, 150);
  --secondary-theme-color: rgb(255, 100, 50);

  --checkbox-color: rgb(255, 255, 255);

  --main-font-color: rgb(0, 0, 0);
  --secondary-font-color: rgb(156, 156, 156);

  --main-margin: 1rem;
  --secondary-margin: 0.8rem;
  @media (prefers-color-scheme: dark) {
    --main-color: rgb(10, 12, 20);
    --secondary-color: rgb(15, 17, 28);
    --button-group-color: rgb(40, 42, 54);
    --options-background-color: rgb(5, 6, 10);

    --checkbox-color: rgb(40, 42, 54);

    --main-font-color: rgb(255, 255, 255);
    --secondary-font-color: rgb(110, 110, 110);
  }
}

* {
  margin: 0;
  padding: 0px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-font-color);
}

body {
  background-color: var(--main-color);
}

.card {
  border-radius: 5px;
  padding: 0.8rem;
  background: var(--secondary-color);
  border: none;
  width: 100%;
  text-align: left;
  font-weight: 500;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
}

h1 {
  font-size: 1.4em;
  font-weight: bolder;
}

input[type='button'],
input[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  background-color: var(--theme-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.2em 0.4em;
  cursor: pointer;
  font-size: 1em;
  font-weight: 400;
  &:focus {
    outline: none;
    // outline: 2px solid rgb(0, 200, 150);
    // outline-offset: 1px;
  }
}

.hidden {
  display: none;
}

progress {
  border-radius: 5px;
  width: 100%;
  height: 5px;
  background-color: var(--main-color);
}
progress::-webkit-progress-bar {
  background-color: var(--main-color);
  border-radius: 5px;
}
progress::-webkit-progress-value {
  border-radius: 5px;
  background-color: var(--theme-color);
  -webkit-transition: 0.2s ease-out all;
  transition: 0.2s ease-out all;
}
