.app {
  & .projects-panel {
    display: flex;
    background: var(--main-color);
    overflow: hidden;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 3;
    overflow: scroll;

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      height: var(--calculated-full-height);
    }
  }

  & .content {
    padding: 1rem;

    @media screen and (min-width: 992px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }

  & .projects {
    @media screen and (min-width: 768px) {
      overflow: scroll;
    }

    & .project-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
