.calendar-input {
  overflow: hidden;
  margin-bottom: var(--large-spacing);

  & .sheet {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;

    & input {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      background: transparent;
      margin: auto;
      padding: 0.5rem;
      line-height: normal;
      color: var(--main-font-color);

      &:hover {
        background: var(--theme-color);
        color: var(--main-color);
      }
    }

    & span {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.4rem;
      color: var(--secondary-font-color);
      margin: auto;
      display: block;
      line-height: 2.5rem;
    }

    & .day {
      color: var(--main-font-color);
    }
  }

  & .calendar-controls {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    height: 2.5rem;

    & span {
      grid-column-start: 2;
      grid-column-end: 7;
      height: 2.5rem;
      line-height: 2.5rem;
      font-size: 1.4rem;
    }

    & .month-button {
      background: var(--theme-color) url('../images/arrow.svg') center/40%
        no-repeat;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      margin: auto;
      font-weight: bolder;

      &:nth-child(1) {
        transform: rotate(180deg);
      }
    }
  }
}
