.calendar-input {
  overflow: hidden;
  margin-bottom: var(--large-spacing);

  & .sheet {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;

    & .day {
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      font-size: 1.4rem;
      line-height: 2.5rem;
      background: transparent;
      padding: 0.5rem;
      color: var(--secondary-font-color);
    }

    & .selectable {
      color: var(--main-font-color);

      &:hover {
        background: var(--theme-color);
        color: var(--main-color);
      }
    }

    & .day-of-the-week {
      font-size: 1.4rem;
      color: var(--main-font-color);
    }
  }

  & .calendar-controls {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: var(--large-spacing);
    padding: 0 0.5rem;

    & span {
      font-size: 1.4rem;
      flex-grow: 1;
    }

    & .month-button {
      background: var(--theme-color) url('../images/arrow.svg') center/40%
        no-repeat;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;

      &:nth-child(1) {
        transform: rotate(180deg);
      }
    }

    & .hidden {
      opacity: 0;
      cursor: default;
    }
  }
}
