@import './mixins.scss';

@import './add.scss';
@import './appIndex.scss';
@import './calendar.scss';
@import './taskDetail.scss';
@import './menu.scss';
@import './tasks.scss';
@import './today.scss';
@import './todo.scss';
@import './todoList.scss';

html {
	--main-color: #fff;
	--secondary--color: #f1f1f1;
	--theme-color: #0c9;
	@media (prefers-color-scheme: dark) {
		--main-color: rgb(10, 12, 20);
		--secondary--color: rgb(15, 17, 28);
	}
}

* {
	margin: 0px;
	margin: 0;
	padding: 0px;
	font-size: 1em;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	@media (prefers-color-scheme: dark) {
		color: white;
	}
}

.card {
	border-radius: 5px;
	padding: 0.8rem;
	background: var(--secondary--color);
	border: none;
	width: 100%;
	text-align: left;
	font-weight: 500;
}

ul {
	list-style: none;
}

button {
	background: transparent;
	border: none;
	outline: none;
}

h1 {
	font-size: 1.4em;
	font-weight: bolder;
}

input[type='button'],
input[type='submit'] {
	background-color: var(--theme-color);
	padding: 0.2em 0.4em;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	color: var(--main-color);
}
