@import './mixins.scss';

@import './add.scss';
@import './appIndex.scss';
@import './calendar.scss';
@import './taskDetail.scss';
@import './menu.scss';
@import './tasks.scss';
@import './today.scss';
@import './todo.scss';
@import './todoList.scss';
@import './progress.scss';
@import './options';

:root {
	--main-color: rgb(255, 255, 255);
	--secondary--color: rgb(241, 241, 241);

	--theme-color: rgb(0, 200, 150);
	--checkbox-color: rgb(255, 255, 255);

	--main-text-color: rgb(0, 0, 0);
	--secondary-text-color: rgb(156, 156, 156);

	--main-margin: 1rem;
	--secondary-margin: .8rem;
	@media (prefers-color-scheme: dark) {
		--main-color: rgb(10, 12, 20);
		--secondary--color: rgb(15, 17, 28);

		--checkbox-color: rgb(40, 42, 54);

		--main-text-color: rgb(255, 255, 255);
		--secondary-text-color: rgb(110, 110, 110);
	}
}

* {
	margin: 0;
	padding: 0px;
	font-size: 1em;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--main-text-color)
}

.card {
	border-radius: 5px;
	padding: 0.8rem;
	background: var(--secondary--color);
	border: none;
	width: 100%;
	text-align: left;
	font-weight: 500;
}

ul {
	list-style: none;
}

button {
	background: transparent;
	border: none;
	outline: none;
}

h1 {
	font-size: 1.4em;
	font-weight: bolder;
}

input[type='button'],
input[type='submit'] {
	background: var(--theme-color);
	padding: 0.2em 0.4em;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	color: white;
}
