@import './variables.scss';
@import './mixins.scss';
@import './app.scss';
@import './menu.scss';
@import './tasks.scss';
@import './calendar.scss';

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.Card {
	border-radius: 5px;
	padding: 0.8rem;
	background-color: darken(white, 5);
	display: block;
	border: none;
	font-size: 1em;
	width: 100%;
	text-align: left;
	font-weight: 500;
	position: relative;
}

ul {
	list-style: none;
}

////////////////////////   TEMP   ////////////////////////

button {
	font-family: 'Roboto', sans-serif;
	background: transparent;
	border: none;
	outline: none;
}

h1 {
	font-size: 1.4em;
	font-weight: bolder;
}

span {
	font-size: 1em;
	margin-bottom: 0.4em;
}

.addTodo {
	background: inherit;
	border: none;
	outline: none;
	font-size: 1em;
	border-bottom: 1px black solid;
}

input[type='button'],
input[type='submit'] {
	background-color: $theme;
	padding: 0.3em 0.5em;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	color: white;
}

.todoCheck {
	margin-bottom: 0.4em;
	& input {
		opacity: 0;
		cursor: pointer;
		margin-right: 1em;
		&:checked + label::after {
			content: '\2714';
			color: $theme;
		}
	}
	position: relative;
	& label::before,
	label::after {
		display: inline-block;
		height: 1em;
		width: 1em;
		position: absolute;
		top: 0;
		border-radius: 2px;
		pointer-events: none;
	}
	& label::before {
		background: white;
		content: '';
		left: -0.2rem;
		// box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.75);
	}
	& label::after {
		content: none;
		// font-size: 1.2em;
		left: 0.2rem;
	}
}
