.menu {
	height: 2.5rem;
	width: 100vw;
	position: relative;
	background: var(--theme-color);
}

.dayNight {
	font-size: 1.5em;
	margin: 0.5em;
	font-weight: bold;
}

.addBtn {
	font-size: 2em;
	line-height: 2.5rem;
	margin: 0 auto;
	outline: none;
	display: block;
	& svg path {
		fill: black;
	}
	&:hover {
		cursor: pointer;
	}
}
