.options {
	display: inline-block;
	position: absolute;
	right: var(--secondary-margin);
	top: var(--secondary-margin);
	background: var(--main-color);
	padding: 0.2rem;
	border-radius: 5px;
	& .option {
		display: block;
		background: inherit;
		color: rgb(255, 50, 75);
	}
}
