.project {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;

  &:hover {
    & .options {
      display: block;
    }
  }

  & .options {
    display: none;
    cursor: pointer;
    background: var(--secondary-color);
    margin-left: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    transition: background 0.3s ease-out;
    padding: 0.75rem;

    &:hover {
      background: var(--secondary-theme-color);

      & img {
        filter: invert(100%);
      }
    }

    & img {
      width: 1.333rem;
      height: 1.333rem;
      transition: filter 0.2s ease-out;
    }
  }

  & .projectButton {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    & .title {
      color: var(--main-font-color);
      font-size: 1.333rem;
    }

    & .badge {
      font-weight: 600;
      text-transform: uppercase;
      margin: 0;
    }

    & .late {
      color: var(--secondary-theme-color);
    }

    & .green {
      color: var(--theme-color);
    }
  }
}
