.taskDetailContainer {
	grid-column: 2 / 4;
	overflow: scroll;
	position: relative;
	& h1 {
		margin-bottom: .4rem;
		font-size: 1.6em;
	}
	& span {
		display: block;
	}
	& form {
		// display: block;
	}
	& .listText {
		background: var(--main-color);
		border: 2px var(--theme-color) solid;
		border-right: none;
		border-radius: 2px 0 0 2px;
		margin: 1rem 0;
		outline: none;
		padding: calc(0.2em - 2px) .4em;
		& + input {
			border-radius: 0 2px 2px 0;
		}
	}
	.todoLists {
		@media screen and (min-width: 992px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.8rem;
		}
	}
}
