.tasks {
	@include container;
	display: -webkit-box;
	display: flex;
	background: var(--main-color);
	overflow: hidden;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
}

.taskContent {
	@media screen and (min-width: 768px) {
		display: grid;
		overflow: scroll;
		-webkit-box-flex: 1;
		flex: 1;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 1rem;
	}
}

.taskList > * {
	margin-bottom: 1rem;
	&:hover {
		cursor: pointer;
	}
}

.taskList {
	overflow: scroll;
	& .card {
		white-space: nowrap;
		overflow: hidden !important;
		position: relative;
		&:hover {
			.Options {
				opacity: 1;
			}
		}
		&:last-child {
			@media screen and (min-width: 768px) {
				margin-bottom: 0;
			}
		}
	}
}

.boardBtn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	& div {
		text-overflow: ellipsis;
		overflow: hidden !important;
	}
	& span {
		font-weight: bold;
		text-transform: uppercase;
		font-size: 0.8em;
		margin: 0;
	}
	& .dueToday {
		color: var(--theme-color);
	}
}
