.today {
	margin-bottom: 1rem;
	white-space: normal !important;
	& span {
		display: block;
		margin: 0;
		font-size: 0.8em;
		margin: 0.4em 0;
	}
	& .dueTitle {
		font-weight: bold;
		text-transform: uppercase;
		color: $theme-color;
	}
}