.todoList {
	margin-bottom: 1em;
	position: relative;
	& h2 {
		font-size: 1.08em;
		margin-bottom: 1rem;
	}
	& ul {
		overflow: hidden;
	}
	& .collapsed {
		height: 0px;
	}
	& form {
		position: relative;
		width: 100%;
		& .addTodo {
			background: inherit;
			border: none;
			outline: none;
			font-size: 1em;
			border-bottom: 1px black solid;
			width: 100%;
			padding-left: 1em;
		}
		& .submitTodo {
			background: transparent;
			color: var(--theme-color);
			font-weight: bold;
			position: absolute;
			left: 0;
			font-size: 1em;
			padding: 0;
		}
	}
	& .collapseButton {
		position: absolute;
		top: 0;
		right: 0;
		width: 0.8rem;
		cursor: pointer;
		& img {
			transition: all .2s ease-out;
		}
	}
	& .flipped {
		& img {
			transform: rotate(-180deg);
		}
	}
}
