.todoList {
	margin-bottom: 1em;
	& h2 {
		font-size: 1.08em;
		margin-bottom: 1rem;
	}
	& form {
		position: relative;
		width: 100%;
		.addTodo {
			background: inherit;
			border: none;
			outline: none;
			font-size: 1em;
			border-bottom: 1px black solid;
			width: 100%;
			padding-left: 1em;
		}
		.submitTodo {
			background: transparent;
			color: var(--theme-color);
			font-weight: bold;
			position: absolute;
			left: 0;
			font-size: 1em;
			padding: 0;
		}
	}
}
