.toolbar {
  width: 100vw;
  position: relative;
  background: var(--theme-color);

  & .add {
    font-size: 3em;
    margin: 0 auto;
    display: block;

    & svg path {
      fill: black;
    }

    &:hover {
      cursor: pointer;
    }
  }

  & .user {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: var(--spacing);
    top: 0;

    & .username {
      padding: 0;
      margin: 0;
      padding-right: var(--spacing);
      color: black;
      font-weight: bold;
    }

    & .bars {
      font-size: 3em;
      display: inline;

      & svg path {
        fill: black;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  & .add-form {
    position: absolute;
    width: calc(24.5em + (var(--large-spacing) * 2) + 2px);
    top: 6em;
    right: 50%;
    transform: translateX(50%);
    padding: var(--large-spacing);
    text-align: center;
    box-shadow: 0px 0px 14px -6px rgba(0, 0, 0, 0.75);

    & > span {
      font-size: 1em;
    }

    & .input-motion {
      margin-bottom: var(--large-spacing);
    }

    & .date-and-time {
      display: flex;
      gap: var(--spacing);
    }

    & .date-input {
      color: var(--main-font-color);
      cursor: pointer;
    }

    & .button-group {
      display: inline-flex;
      border-radius: var(--super-rounded);
      overflow: hidden;
      background: var(--button-group-color);
      margin-bottom: var(--large-spacing);
      font-weight: regular;

      & input {
        background: transparent;
        border-radius: var(--super-rounded);
        color: var(--main-font-color);
      }

      & .active {
        background: var(--theme-color);
        color: white;
      }
    }

    & .form-button {
      width: 100%;
    }

    & .close-button {
      background: var(--secondary-theme-color);
      margin-top: var(--spacing);
    }
  }
}
