@import './variables.scss';
@import './mixins.scss';
@import './app.scss';
@import './menu.scss';
@import './tasks.scss';
@import './calendar.scss';

* {
	margin: 0px;
	margin: 0;
	padding: 0px;
	font-size: 1em;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.card {
	border-radius: 5px;
	padding: 0.8rem;
	background-color: darken(white, 5);
	border: none;
	width: 100%;
	text-align: left;
	font-weight: 500;
}

ul {
	list-style: none;
}

button {
	background: transparent;
	border: none;
	outline: none;
}

h1 {
	font-size: 1.4em;
	font-weight: bolder;
}

input[type='button'],
input[type='submit'] {
	background-color: $theme-color;
	padding: 0.2em 0.4em;
	border: none;
	border-radius: 2px;
	cursor: pointer;
	outline: none;
	color: white;
}