.taskDetailContainer {
	grid-column: 2 / 4;
	overflow: scroll;
	& h1 {
		margin-bottom: 0.5rem;
	}
	& span {
		display: block;
	}
	.todoLists {
		@media screen and (min-width: 992px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 0.8rem;
		}
	}
	form {
		position: relative;
		width: 50%;
		min-width: 8em;
		.addTodo {
			background: inherit;
			border: none;
			outline: none;
			font-size: 1em;
			border-bottom: 1px black solid;
			width: 100%;
			padding-left: 1em;
		}
		.submitTodo {
			background-color: transparent;
			color: $theme-color;
			font-weight: bold;
			position: absolute;
			left: 0;
			font-size: 1em;
			padding: 0;
		}
	}
}
